@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,500&display=swap");

body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  --tw-text-opacity: 1;
  color: rgb(231 229 228 / var(--tw-text-opacity));
}

.container {
  max-width: 65%;
  margin: 0 auto;
}

.easlyAnimate {
  transition: all 0.5s ease-in-out;
}

.animate {
  transition: 0.2s ease-in-out all;
}

.animateSwift {
  transition: 0.1s ease-in-out all;
}

.animate:hover {
  transition: 0.2s ease-in-out all;
}

.frostedGlass {
  background-color: rgba(231, 229, 228, 0.25);
  backdrop-filter: blur(50px);
}

.frostedBorder {
  border: 0.11vw solid rgba(231, 229, 228, 0.15);
}

.tile {
  width: 12.5vw;
  height: 12.5vw;
  border-radius: 1vw;
  --tw-drop-shadow: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.absoluteCenter {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.doubleTileH {
  width: 25.5vw;
  height: 12.5vw;
  border-radius: 1vw;
  --tw-drop-shadow: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}

.doubleTileV {
  width: 12.5vw;
  height: 25.5vw;
  border-radius: 1vw;
  --tw-drop-shadow: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}

.quadTile {
  width: 25.5vw;
  height: 25.5vw;
  border-radius: 1vw;
  --tw-drop-shadow: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}

.frostedGlass:hover {
  cursor: default;
}

.superpower {
  -webkit-text-stroke: 0.1vw rgba(8, 145, 178, 1);
}

.knowledge {
  -webkit-text-stroke: 0.1vw rgba(217, 119, 6, 1);
}

button:hover .knowledge {
  -webkit-text-stroke: 0.1vw rgba(217, 119, 6, 0);
}

.parent:hover .superpower {
  -webkit-text-stroke: 0.1vw rgba(8, 145, 178, 0);
}

button:hover {
  cursor: pointer !important;
}

.bg-flower:hover {
  background-size: 185%;
  transition: background-size 0.2s ease-in-out;
}

.bg-flower {
  background-size: 160%;
  transition: background-size 0.2s ease-in-out;
  filter: none !important;
}

.delayedTransition {
  transition: 0.4s ease-in-out opacity 1s;
}

.gradientText {
  color: transparent;
  background-clip: text;
}

.lowVisibleText:hover {
  font-size: 2vw;
  opacity: 1;
}
